*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(237, 244, 250);
}
h1{
    text-align: center;
    margin-top: 70px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
.logo{
    max-width: 255px;
    max-height: 305px;
    display: block;
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 1px;
    margin: 0%;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}
.top{
    display: flex;
    margin-top: 20px;
}
li{
    display: grid;
}
.songLink{
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    color: black;
}
.songPic{
    max-width: 200px;
    max-height: 150px;
    margin: 0 auto;
}
.songs{
    background-color: antiquewhite;
    margin-top: 20px;
    padding: 1px;
    border-radius: 100px;
}
li{
    background-color: rgb(230, 214, 193);
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}
li:hover{
    transform: scale(1.1);
    background-color: rgb(202, 188, 170);
}
audio{
    margin-top: 10px;
    color: aquamarine;
}